#set-appointment-container {
  background-color: var(--white);
  box-shadow: 0 2px 20px 0 var(--black-16);
  position: absolute;
  right: 0;
  top: 47px;
  z-index: 10;
  width: 500px;
  &.arrow-up:after {
    content: " ";
    position: absolute;
    right: 100px;
    top: -7px;
    border-top: none;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid white;
  }
}

.appointment-form {
  border-radius: 1px;
  border: none;
  height: 100%;
  // overflow: auto;
}
