#top-head-purple {
  height: 8px;
  background-color: var(--light-eggplant);
}
#top-head-blue {
  height: 8px;
  background-color: var(--mid-blue);
}
.my-account-form {
  width: 750px;
  margin: 0 auto;
  padding: 20px 0;
  form {
    padding: 10px;
  }
}
  