#top-head-purple {
  height: 8px;
  background-color: var(--light-eggplant);
}
#top-head-blue {
  height: 8px;
  background-color: var(--mid-blue);
}
.registration-form {
  width: 570px;
  margin: 0 auto;
  padding: 100px 0;
  form {
    padding: 10px;
  }
}
  